Django
amqp
billiard
celery
certifi
chardet
defusedxml
diff-match-patch
django-import-export
django-rest-passwordreset
djangorestframework
idna
jdcal
kombu
openpyxl
psycopg2-binary
pytz
PyYAML
requests
sqlparse
tablib
ujson
urllib3
vine
xlrd
xlwt
djoser